---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Roboto Slab", Georgia, serif;
$base-font-size:   18px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$accent-font-family: "Montserrat", Helvetica, Arial, sans-serif;
$accent-font-size:   20px;
$accent-font-weight: 400;

$spacing-unit: 30px;

$palette-1: #0B486B;
$palette-2: #3B8686;
$palette-3: #79BD9A;
$palette-4: #A8DBA8;
$palette-5: #CFF09E;
$palette-white: #F8FFED;

$text-color:       $palette-white;
$background-color: $palette-1;
$brand-color:      $palette-3;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
